.page-not-found{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height:76vh;
    width:100%;
}

.page-not-found h1{
    font-family: 'Inter',sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.page-not-found a{
    height:55px;
    width:45%;
    text-align: center;    
}

.page-not-found p{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    background-color: #161616;
    color: #FFFFFF;
    border-radius:1rem;    
}